<a href="https://colab.research.google.com/github/Chandu300395/DATASET/blob/main/Basic%20Code%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
x = 10
y = "Hell0, World!"
x
y

'Hell0, World!'

Comments

In [ ]:
# Comments can be used to prevent execution when testing code.
# print("Hello, World!")
print ("Cheers everyone")

Cheers everyone

In [ ]:
"""
This is a comment
written in
more than just one line(Multiline comment)
"""
print("Hello, World!")

Hello, World!

Creating Variables

In [ ]:
x = 9
y = "Kumar"
print(x)
print(y)

9
Kumar

In [ ]:
# Python allows you to assign values to multiple variables in one line:
a, b, c = "Orange", "Banana", "Cherry"
print(a)
print(b)
print(c)

Orange
Banana
Cherry

Output Variables

In [ ]:
# Create two variables

x = "Python is "
y = "awesome"
# use + character to combine variables
z = x + y
print(z)

Python is awesome

In [ ]:
# For numbers, the + character works as a mathematical operator:

x = 5

y = 10

print(x + y)

15

Python Numbers
There are three numeric types in Python:
int
float
complex

In [ ]:
# Example
x = 1 # int
y = 2.8 # float
z = 1j # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
#convert from int to float:
a = float(x)
#convert from float to int:
b = int(y)
#convert from int to complex:
c = complex(x)
print(a)
print(b)
print(c)
print(" ------ ")
print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
 ------
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
import random

print(random.randrange(1,10))#print random no 1 to 10 it will be change every time when u running program

7

In [ ]:
x = int(1.9) # x will be 1
y = float(2) # y will be 2.0
z = str("3") # z will be 3
print(x)
print(y)
print(z)

1
2.0
3

In [ ]:
#Strings are Arrays
a = "Hello, World!"
print(a[1])

e

In [ ]:
b = "Hello, World!"
print(b[0:4])
print(b[:4])

Hell
Hell

In [ ]:
c = "HELLO"
print(c[-5])
print(c[-4])
print(c[-3])
print(c[-2])
print(c[-1])
print(c[-5:-1])

H
E
L
L
O
HELL

In [ ]:
# Example
# The strip() method removes any whitespace from the beginning or the end:
a = "  Hello, World!  "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [ ]:
# Example
# The len() method returns the length of a string:
a = "Hello, World!"
print(len(a))

13

In [ ]:
#Example The lower() method returns the string in lower case:
a = "Hello, World!"
print(a.lower())
print(a.upper())
print(a.replace("H", "J"))#replace word
print(a.split(",")) # divided into two word and sentence returns ['Hello', ' World!']

hello, world!
HELLO, WORLD!
Jello, World!
['Hello', ' World!']

In [ ]:
# Example
# Use the format() method to insert numbers into strings:

age = 36
txt = "My name is kumar, and I am {}"
print(txt.format(age))

My name is kumar, and I am 36

In [ ]:
# The format() method takes unlimited number of arguments, and are placed into the respective placeholders:
# Example
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."

print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [ ]:
# You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

# Example
quantity = 3

itemno = 567

price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

Python Operators

1-Python Arithmetic Operators

In [ ]:
a = 7
b = 2

# addition
print ('Sum: ', a + b)

# subtraction
print ('Subtraction: ', a - b)

# multiplication
print ('Multiplication: ', a * b)

# division
print ('Division: ', a / b)

# floor division
print ('Floor Division: ', a // b)

# modulo
print ('Modulo: ', a % b)

# a to the power b
print ('Power: ', a ** b)

Sum:  9
Subtraction:  5
Multiplication:  14
Division:  3.5
Floor Division:  3
Modulo:  1
Power:  49

In [ ]:
x=2
y=3
a=x+y#addition
print(a)

5

In [ ]:
a=x*y#multiplication
print(a)

6

In [ ]:
a=x/y#Division
print(a)

0.6666666666666666

In [ ]:
a=x-y#subtraction
print(a)

-1

In [ ]:
a=x%y#Modulus
print(a)

2

In [ ]:
a=x+y#Exponentiation
print(a)

5

In [ ]:
a=x//y#floor division
print(a)

0

2.Python Assignment Operators

In [ ]:
a = 7
print(a)
a += 1#+=	Addition Assignment	 # a = a + 1
print(a)
a -= 3#-=	Subtraction Assignment	 # a = a - 3
print(a)
a *= 4#*=	Multiplication Assignment	 # a = a * 4
print(a)
a /= 3#/=	Division Assignment	 # a = a / 3
print(a)
a %= 10#%=	Remainder Assignment	 # a = a % 10
print(a)
a **= 10#**=	Exponent Assignment	 # a = a ** 10
print(a)

7
8
5
20
6.666666666666667
6.666666666666667
173415299.1583262

3.Python Comparison Operators

In [ ]:
a = 5

b = 2

# equal to operator
print('a == b =', a == b)

# not equal to operator
print('a != b =', a != b)

# greater than operator
print('a > b =', a > b)

# less than operator
print('a < b =', a < b)

# greater than or equal to operator
print('a >= b =', a >= b)

# less than or equal to operator
print('a <= b =', a <= b)

a == b = False
a != b = True
a > b = True
a < b = False
a >= b = True
a <= b = False

4. Python Logical Operators

In [ ]:
a = 5
b = 10

print((a > 2) and (b < 5))# True
print((a > 2) or (b < 5))
print((not(a>2)))

False
True
False

5.Python Membership Operators

In [ ]:
a="Hello World"
print("H" in a)
print("H" not in a)

True
False

Python Collections (Arrays)
 There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate
members.List in Round brackets()

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Set is a collection which is unordered and unindexed. No duplicate members. In Python sets are written with curly brackets.

Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

In [ ]:
#Python List
thislist = ["apple", "banana", "cherry"]
print(thislist)
print(thislist[0])#You access the list items by referring to the index number:
thislist[1]="strawberry"
print(thislist)# Change the second item:

['apple', 'banana', 'cherry']
apple
['apple', 'strawberry', 'cherry']

In [ ]:
# You can loop through the list items by using a for loop:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

  print(len(thislist))# Print the number of items in the list:

  thislist.append("orange")## To add an item to the end of the list, use the append() method:
  print(thislist)

  thislist.insert(1, "orange") ## To add an item at the specified index, use the insert() method:
print(thislist)

thislist.remove("banana") # The remove() method removes the specified item:
print(thislist)

thislist.pop() # The pop() method removes the specified index, (or the last item if index is not specified):
print(thislist)

del thislist# The del keyword can also delete the list completely:

thislist = ["apple", "banana", "cherry"]# The clear() method empties the list:
thislist.clear()
print(thislist)

mylist = thislist.copy() # Make a copy of a list with the copy() method:
print(mylist)

# Using the list() constructor to make a List:
thislist = list(("apple", "banana", "cherry"))# It is also possible to use the list() constructor to make a new list. # note the double round-brackets
print(thislist)

Yes, 'apple' is in the fruits list
3
['apple', 'banana', 'cherry', 'orange']
['apple', 'orange', 'banana', 'cherry', 'orange']
['apple', 'orange', 'cherry', 'orange']
['apple', 'orange', 'cherry']
[]
[]
['apple', 'banana', 'cherry']

In [ ]:
#Python Tuples
thistuple = ("apple", "banana", "cherry")
print(thistuple)

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

thistuple = ("apple", "banana", "cherry")#loop
for x in thistuple:
  print(x)

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

thistuple = ("apple", "banana", "cherry") #Length
print(len(thistuple))

('apple', 'banana', 'cherry')
banana
apple
banana
cherry
('apple', 'banana', 'cherry')
3

In [ ]:
  #Python Sets
  thisset = {"apple", "banana", "cherry"}
  print(thisset)

  thisset = {"apple", "banana", "cherry"} # Loop through the set, and print the values:
  for x in thisset:
    print(x)

  thisset = {"apple", "banana", "cherry"} # Check if "banana" is present in the set:
  print("banana" in thisset)

  #Once a set is created, you cannot change its items, but you can add new items.Add an item to a set, using the add() method:
  thisset = {"apple", "banana", "cherry"}
  thisset.add("orange")
  print(thisset)

  thisset.update(["orange", "mango", "grapes"]) # Add multiple items to a set, using the update() method:
  print(thisset)

  thisset.remove("banana")
  print(thisset)

  thisset = {"apple", "banana", "cherry"}
  thisset.remove("banana")
  print(thisset)

  thisset = {"apple", "banana", "cherry"}
  thisset.remove("apple")
  print(thisset)# To remove an item in a set, use the remove(), or the discard() method.

  thisset.discard("cherry")
  print(thisset)

  thisset = {"apple", "banana", "cherry"} # The return value of the pop() method is the removed item.
  x = thisset.pop()
  print(x)
  print(thisset)

  thisset = {"apple", "banana", "cherry"}
  thisset.clear()
  print(thisset)

  thisset = set(("apple", "banana", "cherry"))# Using the set() constructor to make a set: # note the double round-brackets
  print(thisset)

{'cherry', 'banana', 'apple'}
cherry
banana
apple
True
{'cherry', 'orange', 'banana', 'apple'}
{'orange', 'banana', 'apple', 'mango', 'grapes', 'cherry'}
{'orange', 'apple', 'mango', 'grapes', 'cherry'}
{'cherry', 'apple'}
{'cherry', 'banana'}
{'banana'}
cherry
{'banana', 'apple'}
set()
{'cherry', 'banana', 'apple'}

# **PANDAS SERIES**

In [3]:
import pandas as pd
groceries = pd.Series(data = [30, 6, 'Yes', 'No'], index = ['eggs', 'apples', 'milk', 'bread'])
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [4]:
### shape, size, values, index, ndim
print('Groceries has shape:',groceries.shape)
print('Groceries has dimension:',groceries.ndim)
print('Groceries has a total of',groceries.size,'elements')
print('The data in Groceries is:',groceries.values)
print('The index of Groceries is:',groceries.index)

Groceries has shape: (4,)
Groceries has dimension: 1
Groceries has a total of 4 elements
The data in Groceries is: [30 6 'Yes' 'No']
The index of Groceries is: Index(['eggs', 'apples', 'milk', 'bread'], dtype='object')

In [5]:
# check whether an index label exists in Series
x = 'bananas' in groceries
x

False

In [6]:
print('How many eggs do we need to buy:', groceries['eggs'])
print('Do we need milk and bread:\n', groceries[['milk', 'bread']])
print('How many eggs and apples do we need to buy:\n', groceries.loc[['eggs','apples']])
print('How many eggs and apples do we need to buy:\n',  groceries[[0, 1]])
print('Do we need bread:\n', groceries[[-1]])

How many eggs do we need to buy: 30
Do we need milk and bread:
 milk     Yes
bread     No
dtype: object
How many eggs and apples do we need to buy:
 eggs      30
apples     6
dtype: object
How many eggs and apples do we need to buy:
 eggs      30
apples     6
dtype: object
Do we need bread:
 bread    No
dtype: object

<ipython-input-6-dcb9a0ca4bed>:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('How many eggs and apples do we need to buy:\n',  groceries[[0, 1]])
<ipython-input-6-dcb9a0ca4bed>:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('Do we need bread:\n', groceries[[-1]])

In [7]:
#1.1.4. Accessing Elements¶

# Accessing Elements using index labels:
#single index label
print('How many eggs do we need to buy:', groceries['eggs'])
# access multiple index labels
print('Do we need milk and bread:\n', groceries[['milk', 'bread']])
# use loc to access multiple index labels
print('How many eggs and apples do we need to buy:\n', groceries.loc[['eggs', 'apples']])
# access elements in Groceries using numerical indices:
# use multiple numerical indices
print('How many eggs and apples do we need to buy:\n',  groceries[[0, 1]])
# use a negative numerical index
print('Do we need bread:\n', groceries[[-1]])
# use a single numerical index
print('How many eggs do we need to buy:', groceries[0])
# use iloc (stands for integer location) to access multiple numerical indices
print('Do we need milk and bread:\n', groceries.iloc[[2, 3]])
# Since we can access elements in various ways, in order to remove
# any ambiguity to whether we are referring to an index label
# or numerical index, Pandas Series have two attributes,
# .loc and .iloc to explicitly state what we mean. The attribute
# .loc stands for location and it is used to explicitly state that
# we are using a labeled index. Similarly, the attribute .iloc stands
# for integer location and it is used to explicitly state that we are
# using a numerical index.

How many eggs do we need to buy: 30
Do we need milk and bread:
 milk     Yes
bread     No
dtype: object
How many eggs and apples do we need to buy:
 eggs      30
apples     6
dtype: object
How many eggs and apples do we need to buy:
 eggs      30
apples     6
dtype: object
Do we need bread:
 bread    No
dtype: object
How many eggs do we need to buy: 30
Do we need milk and bread:
 milk     Yes
bread     No
dtype: object

<ipython-input-7-d0858c508f64>:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('How many eggs and apples do we need to buy:\n',  groceries[[0, 1]])
<ipython-input-7-d0858c508f64>:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('Do we need bread:\n', groceries[[-1]])
<ipython-input-7-d0858c508f64>:16: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('How many eggs do we need to buy:', groceries[0])

In [8]:
#1.1.5. Change Elements¶
# Change Elements
groceries['eggs'] = 2
groceries
# delete items from Series in place by setting keyword inplace to True
#groceries.drop('apples', inplace = True)

eggs        2
apples      6
milk      Yes
bread      No
dtype: object

In [9]:
#1.1.6. Delete Elements
# Delete Elements
# doesn't change the original Series being modified
#groceries=groceries.drop('apples')
#groceries
#groceries.drop('bread')
#groceries=groceries.drop('bread')
# delete items from Series in place by setting keyword inplace to True
groceries.drop('bread', inplace = True)

groceries

eggs        2
apples      6
milk      Yes
dtype: object

In [11]:
#1.1.7. Arithmetic Operations
# Arithmetic Operations
# we can perform element-wise arithmetic operations on Pandas Series
fruits = pd.Series(data = [10, 6, 3,], index = ['apples', 'oranges', 'bananas'])
#fruits
fruits=fruits/2

#fruits# Adds 2 to all elements in the series
#fruits - 2
#fruits * 2
#fruits / 2
fruits

apples     5.0
oranges    3.0
bananas    1.5
dtype: float64

In [12]:
fruits["bananas"]=fruits['bananas'] + 2
print(fruits)
print(fruits.iloc[0])
print(fruits.apples)
print(fruits["apples"])
print(fruits[0])
print(fruits.loc["apples"])

apples     5.0
oranges    3.0
bananas    3.5
dtype: float64
5.0
5.0
5.0
5.0
5.0

<ipython-input-12-d848b919f8b0>:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(fruits[0])

**PANDAS DATAFRAME**

In [13]:
# Converting a list into a DataFrame
import pandas as pd
list1 = [10, 20, 30, 40]
table = pd.DataFrame(list1)
print(table)

    0
0  10
1  20
2  30
3  40

In [14]:
# Creating a DataFrame from a list of dictionaries
import pandas as pd
data = [{'a':1, 'b':2}, {'a':2, 'b':4, 'c':8}]
table1 = pd.DataFrame(data)
print(table1)

# NaN (not a number) is stored in areas where no data is provided

   a  b    c
0  1  2  NaN
1  2  4  8.0

In [15]:
# Creating a DataFrame from a list of dictionaries and accompaying row indices
table2 = pd.DataFrame(data, index = ['first', 'second'])
# Dict keys become column lables
print(table2)

        a  b    c
first   1  2  NaN
second  2  4  8.0

In [16]:
import pandas as pd
# create a dictionary of Pandas Series
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

# print the type of items to see that it is a dictionary
print(type(items)) # class 'dict'
print(items)

<class 'dict'>
{'Bob': bike     245
pants     25
watch     55
dtype: int64, 'Alice': book        40
glasses    110
bike       500
pants       45
dtype: int64}

In [17]:
shopping_carts = pd.DataFrame(items)
print(shopping_carts)
print('shopping_carts has shape:', shopping_carts.shape)
print('shopping_carts has dimension:', shopping_carts.ndim)
print('shopping_carts has a total of:', shopping_carts.size)
print()
print('The data in shopping_carts is:\n', shopping_carts.values)
print()
print('The row index in shopping_carts is:', shopping_carts.index)
print()
print('The column index in shopping_carts is:', shopping_carts.columns)
#print(shopping_carts.columns)

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN
shopping_carts has shape: (5, 2)
shopping_carts has dimension: 2
shopping_carts has a total of: 10

The data in shopping_carts is:
 [[245. 500.]
 [ nan  40.]
 [ nan 110.]
 [ 25.  45.]
 [ 55.  nan]]

The row index in shopping_carts is: Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')

The column index in shopping_carts is: Index(['Bob', 'Alice'], dtype='object')

In [18]:
# Create dictionary from a bunch of Series/data
import numpy as np
books = pd.Series(data = ['Great Expectations', 'Of Mice and Men', 'Romeo and Juliet', 'The Time Machine', 'Alice in Wonderland' ])
authors = pd.Series(data = ['Charles Dickens', 'John Steinbeck', 'William Shakespeare', ' H. G. Wells', 'Lewis Carroll' ])
user_1 = pd.Series(data = [3.2, np.nan ,2.5])
user_2 = pd.Series(data = [5., 1.3, 4.0, 3.8])
user_3 = pd.Series(data = [2.0, 2.3, np.nan, 4])
user_4 = pd.Series(data = [4, 3.5, 4, 5, 4.2])

# Create a dictionary with the data given above
a_dict = {'Author':authors,'Book Title':books,'User 1':user_1, 'User 2':user_2, 'User 3':user_3, 'User 4':user_4}

# Use the dictionary to create a Pandas DataFrame
book_ratings = pd.DataFrame(a_dict)
#a=book_ratings[:2]
book_ratings

                Author           Book Title  User 1  User 2  User 3  User 4
0      Charles Dickens   Great Expectations     3.2     5.0     2.0     4.0
1       John Steinbeck      Of Mice and Men     NaN     1.3     2.3     3.5
2  William Shakespeare     Romeo and Juliet     2.5     4.0     NaN     4.0
3          H. G. Wells     The Time Machine     NaN     3.8     4.0     5.0
4        Lewis Carroll  Alice in Wonderland     NaN     NaN     NaN     4.2