<a href="https://colab.research.google.com/github/Chandu300395/DATASET/blob/main/Python%20Basic%20Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
if 8 > 4:
print("Eight is greater than Four!")

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-2-80bc0c335281>, line 2)

In [3]:
x = 10
y = "Hell0, World!"
x
y

'Hell0, World!'

Comments

In [4]:
# Comments can be used to prevent execution when testing code.
# print("Hello, World!")
print ("Cheers everyone")

Cheers everyone

In [5]:
"""
This is a comment
written in
more than just one line(Multiline comment)
"""
print("Hello, World!")

Hello, World!

Creating Variables

In [6]:
x = 9
y = "Kumar"
print(x)
print(y)

9
Kumar

In [7]:
# Python allows you to assign values to multiple variables in one line:
a, b, c = "Orange", "Banana", "Cherry"
print(a)
print(b)
print(c)

Orange
Banana
Cherry

Output Variables

In [10]:
# Create two variables

x = "Python is "
y = "awesome"
# use + character to combine variables
z = x + y
print(z)

Python is awesome

In [11]:
# For numbers, the + character works as a mathematical operator:

x = 5

y = 10

print(x + y)

15

Python Numbers
There are three numeric types in Python:
int
float
complex

In [12]:
# Example
x = 1 # int
y = 2.8 # float
z = 1j # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [13]:
#convert from int to float:
a = float(x)
#convert from float to int:
b = int(y)
#convert from int to complex:
c = complex(x)
print(a)
print(b)
print(c)
print(" ------ ")
print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
 ------
<class 'float'>
<class 'int'>
<class 'complex'>

In [22]:
import random

print(random.randrange(1,10))#print random no 1 to 10 it will be change every time when u running program

7

In [24]:
x = int(1.9) # x will be 1
y = float(2) # y will be 2.0
z = str("3") # z will be 3
print(x)
print(y)
print(z)

1
2.0
3

In [25]:
#Strings are Arrays
a = "Hello, World!"
print(a[1])

e

In [37]:
b = "Hello, World!"
print(b[0:4])
print(b[:4])

Hell
Hell

In [39]:
c = "HELLO"
print(c[-5])
print(c[-4])
print(c[-3])
print(c[-2])
print(c[-1])
print(c[-5:-1])

H
E
L
L
O
HELL

In [42]:
# Example
# The strip() method removes any whitespace from the beginning or the end:
a = "  Hello, World!  "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [43]:
# Example
# The len() method returns the length of a string:
a = "Hello, World!"
print(len(a))

13

In [44]:
#Example The lower() method returns the string in lower case:
a = "Hello, World!"
print(a.lower())
print(a.upper())
print(a.replace("H", "J"))#replace word
print(a.split(",")) # divided into two word and sentence returns ['Hello', ' World!']

hello, world!
HELLO, WORLD!
Jello, World!
['Hello', ' World!']

In [45]:
# Example
# Use the format() method to insert numbers into strings:

age = 36
txt = "My name is kumar, and I am {}"
print(txt.format(age))

My name is kumar, and I am 36

In [46]:
# The format() method takes unlimited number of arguments, and are placed into the respective placeholders:
# Example
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."

print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [47]:
# You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

# Example
quantity = 3

itemno = 567

price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

Python Operators
1-Python Arithmetic Operators

In [50]:
x=2
y=3
a=x+y#addition
print(a)

5

In [52]:
a=x*y#multiplication
print(a)

6

In [53]:
a=x/y#Division
print(a)

0.6666666666666666

In [51]:
a=x-y#subtraction
print(a)

-1

In [54]:
a=x%y#Modulus
print(a)

2

In [55]:
a=x+y#Exponentiation
print(a)

5

In [56]:
a=x//y#floor division
print(a)

0

Python Assignment Operators

In [59]:
a = 7
print(a)
a += 1#+=	Addition Assignment	 # a = a + 1
print(a)
a -= 3#-=	Subtraction Assignment	 # a = a - 3
print(a)
a *= 4#*=	Multiplication Assignment	 # a = a * 4
print(a)
a /= 3#/=	Division Assignment	 # a = a / 3
print(a)
a %= 10#%=	Remainder Assignment	 # a = a % 10
print(a)
a **= 10#**=	Exponent Assignment	 # a = a ** 10
print(a)

7
8
5
20
6.666666666666667
6.666666666666667
173415299.1583262