<a href="https://colab.research.google.com/github/Chandu300395/DATASET/blob/main/Python%20Basic%20Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
if 8 > 4:
print("Eight is greater than Four!")

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-2-80bc0c335281>, line 2)

In [ ]:
x = 10
y = "Hell0, World!"
x
y

'Hell0, World!'

Comments

In [ ]:
# Comments can be used to prevent execution when testing code.
# print("Hello, World!")
print ("Cheers everyone")

Cheers everyone

In [ ]:
"""
This is a comment
written in
more than just one line(Multiline comment)
"""
print("Hello, World!")

Hello, World!

Creating Variables

In [ ]:
x = 9
y = "Kumar"
print(x)
print(y)

9
Kumar

In [ ]:
# Python allows you to assign values to multiple variables in one line:
a, b, c = "Orange", "Banana", "Cherry"
print(a)
print(b)
print(c)

Orange
Banana
Cherry

Output Variables

In [ ]:
# Create two variables

x = "Python is "
y = "awesome"
# use + character to combine variables
z = x + y
print(z)

Python is awesome

In [ ]:
# For numbers, the + character works as a mathematical operator:

x = 5

y = 10

print(x + y)

15

Python Numbers
There are three numeric types in Python:
int
float
complex

In [ ]:
# Example
x = 1 # int
y = 2.8 # float
z = 1j # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
#convert from int to float:
a = float(x)
#convert from float to int:
b = int(y)
#convert from int to complex:
c = complex(x)
print(a)
print(b)
print(c)
print(" ------ ")
print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
 ------
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
import random

print(random.randrange(1,10))#print random no 1 to 10 it will be change every time when u running program

7

In [ ]:
x = int(1.9) # x will be 1
y = float(2) # y will be 2.0
z = str("3") # z will be 3
print(x)
print(y)
print(z)

1
2.0
3

In [ ]:
#Strings are Arrays
a = "Hello, World!"
print(a[1])

e

In [ ]:
b = "Hello, World!"
print(b[0:4])
print(b[:4])

Hell
Hell

In [ ]:
c = "HELLO"
print(c[-5])
print(c[-4])
print(c[-3])
print(c[-2])
print(c[-1])
print(c[-5:-1])

H
E
L
L
O
HELL

In [ ]:
# Example
# The strip() method removes any whitespace from the beginning or the end:
a = "  Hello, World!  "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [ ]:
# Example
# The len() method returns the length of a string:
a = "Hello, World!"
print(len(a))

13

In [ ]:
#Example The lower() method returns the string in lower case:
a = "Hello, World!"
print(a.lower())
print(a.upper())
print(a.replace("H", "J"))#replace word
print(a.split(",")) # divided into two word and sentence returns ['Hello', ' World!']

hello, world!
HELLO, WORLD!
Jello, World!
['Hello', ' World!']

In [ ]:
# Example
# Use the format() method to insert numbers into strings:

age = 36
txt = "My name is kumar, and I am {}"
print(txt.format(age))

My name is kumar, and I am 36

In [ ]:
# The format() method takes unlimited number of arguments, and are placed into the respective placeholders:
# Example
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."

print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [ ]:
# You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

# Example
quantity = 3

itemno = 567

price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

Python Operators

1-Python Arithmetic Operators

In [ ]:
a = 7
b = 2

# addition
print ('Sum: ', a + b)

# subtraction
print ('Subtraction: ', a - b)

# multiplication
print ('Multiplication: ', a * b)

# division
print ('Division: ', a / b)

# floor division
print ('Floor Division: ', a // b)

# modulo
print ('Modulo: ', a % b)

# a to the power b
print ('Power: ', a ** b)

Sum:  9
Subtraction:  5
Multiplication:  14
Division:  3.5
Floor Division:  3
Modulo:  1
Power:  49

In [ ]:
x=2
y=3
a=x+y#addition
print(a)

5

In [ ]:
a=x*y#multiplication
print(a)

6

In [ ]:
a=x/y#Division
print(a)

0.6666666666666666

In [ ]:
a=x-y#subtraction
print(a)

-1

In [ ]:
a=x%y#Modulus
print(a)

2

In [ ]:
a=x+y#Exponentiation
print(a)

5

In [ ]:
a=x//y#floor division
print(a)

0

2.Python Assignment Operators

In [ ]:
a = 7
print(a)
a += 1#+=	Addition Assignment	 # a = a + 1
print(a)
a -= 3#-=	Subtraction Assignment	 # a = a - 3
print(a)
a *= 4#*=	Multiplication Assignment	 # a = a * 4
print(a)
a /= 3#/=	Division Assignment	 # a = a / 3
print(a)
a %= 10#%=	Remainder Assignment	 # a = a % 10
print(a)
a **= 10#**=	Exponent Assignment	 # a = a ** 10
print(a)

7
8
5
20
6.666666666666667
6.666666666666667
173415299.1583262

3.Python Comparison Operators

In [ ]:
a = 5

b = 2

# equal to operator
print('a == b =', a == b)

# not equal to operator
print('a != b =', a != b)

# greater than operator
print('a > b =', a > b)

# less than operator
print('a < b =', a < b)

# greater than or equal to operator
print('a >= b =', a >= b)

# less than or equal to operator
print('a <= b =', a <= b)

a == b = False
a != b = True
a > b = True
a < b = False
a >= b = True
a <= b = False

4. Python Logical Operators

In [ ]:
a = 5
b = 10

print((a > 2) and (b < 5))# True
print((a > 2) or (b < 5))
print((not(a>2)))

False
True
False

5.Python Membership Operators

In [ ]:
a="Hello World"
print("H" in a)
print("H" not in a)

True
False

Python Collections (Arrays)
 There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate
members.List in Round brackets()

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Set is a collection which is unordered and unindexed. No duplicate members. In Python sets are written with curly brackets.

Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

In [ ]:
#Python List
thislist = ["apple", "banana", "cherry"]
print(thislist)
print(thislist[0])#You access the list items by referring to the index number:
thislist[1]="strawberry"
print(thislist)# Change the second item:

['apple', 'banana', 'cherry']
apple
['apple', 'strawberry', 'cherry']

In [3]:
# You can loop through the list items by using a for loop:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

  print(len(thislist))# Print the number of items in the list:

  thislist.append("orange")## To add an item to the end of the list, use the append() method:
  print(thislist)

  thislist.insert(1, "orange") ## To add an item at the specified index, use the insert() method:
print(thislist)

thislist.remove("banana") # The remove() method removes the specified item:
print(thislist)

thislist.pop() # The pop() method removes the specified index, (or the last item if index is not specified):
print(thislist)

del thislist# The del keyword can also delete the list completely:

thislist = ["apple", "banana", "cherry"]# The clear() method empties the list:
thislist.clear()
print(thislist)

mylist = thislist.copy() # Make a copy of a list with the copy() method:
print(mylist)

# Using the list() constructor to make a List:
thislist = list(("apple", "banana", "cherry"))# It is also possible to use the list() constructor to make a new list. # note the double round-brackets
print(thislist)

Yes, 'apple' is in the fruits list
3
['apple', 'banana', 'cherry', 'orange']
['apple', 'orange', 'banana', 'cherry', 'orange']
['apple', 'orange', 'cherry', 'orange']
['apple', 'orange', 'cherry']
[]
[]
['apple', 'banana', 'cherry']

In [4]:
#Python Tuples
thistuple = ("apple", "banana", "cherry")
print(thistuple)

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

thistuple = ("apple", "banana", "cherry")#loop
for x in thistuple:
  print(x)

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

thistuple = ("apple", "banana", "cherry") #Length
print(len(thistuple))

('apple', 'banana', 'cherry')
banana
apple
banana
cherry
('apple', 'banana', 'cherry')
3

In [5]:
#Python Sets
thisset = {"apple", "banana", "cherry"}
print(thisset)

thisset = {"apple", "banana", "cherry"} # Loop through the set, and print the values:
for x in thisset:
  print(x)

thisset = {"apple", "banana", "cherry"} # Check if "banana" is present in the set:
print("banana" in thisset)

#Once a set is created, you cannot change its items, but you can add new items.Add an item to a set, using the add() method:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

thisset.update(["orange", "mango", "grapes"]) # Add multiple items to a set, using the update() method:
print(thisset)

thisset.remove("banana")
print(thisset)

thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

thisset = {"apple", "banana", "cherry"}
thisset.remove("apple")
print(thisset)# To remove an item in a set, use the remove(), or the discard() method.

thisset.discard("cherry")
print(thisset)

thisset = {"apple", "banana", "cherry"} # The return value of the pop() method is the removed item.
x = thisset.pop()
print(x)
print(thisset)

thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

thisset = set(("apple", "banana", "cherry"))# Using the set() constructor to make a set: # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}
cherry
banana
apple
True
{'cherry', 'orange', 'banana', 'apple'}
{'orange', 'banana', 'apple', 'mango', 'grapes', 'cherry'}
{'orange', 'apple', 'mango', 'grapes', 'cherry'}
{'cherry', 'apple'}
{'cherry', 'banana'}
{'banana'}
cherry
{'banana', 'apple'}
set()
{'cherry', 'banana', 'apple'}