1. Write a program which will find all such numbers which are divisible by 7 but are not a
multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single
line.
Hints:
Consider use range(#begin, #end) method

In [ ]:
result=[]#save answer in result
for i in range(2000,3202):#loop value between 2000 to 3203
    if i%7==0 and i%5!=0:#check value divisable by and not multiple by 5
      result.append(i)#The append() method in Python adds a answer to the end of the existing list.
print(result)#print result

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

2. Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

In [14]:
def fact(x):# Define a function named 'fact' that calculates the factorial of a number 'x'
  if x==0: # Check if the number 'x' is 0
    return 1# If 'x' is 0, return 1 (factorial of 0 is 1)
  return x*fact(x-1)## If 'x' is not 0, recursively call the 'factorial' function with (x-1) and multiply it with 'x'
x=int(input())# Ask the user to input a number to compute its factorial and store it in variable 'x'
print(fact(x))# Print the factorial of the number entered by the user by calling the 'fact' function

8
40320

3. With a given integral number n, write a program to generate a dictionary that contains
(i, i*i) such that is an integral number between 1 and n (both included). and then the
program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
Hints:
In case of input data being supplied to the question, it should be assumed to be a
console input.
Consider use dict()

In [11]:
n=int(input("the Interger number is:"))# Ask the user to input a number and store it in variable 'n'
dict={i:i*i for i in range(1,n+1)}## create dictionery,calculate the square of each number and
#store it in the dictionary with the number as the key and Iterate through numbers from 1 to 'n'
print(dict)## Print the dictionary containing the squares of numbers from 1 to 'n'.

the Interger number is:8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

4. Write a program which accepts a sequence of comma-separated numbers from
console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')
Hints:
In case of input data being supplied to the question, it should be assumed to be a
console input.
tuple() method can convert list to tuple

In [1]:
number=input("the number is:")# Ask the user to input and store it in variable 'number'
list=number.split(",")#number separated with comma
tuple=tuple(list)#converted list into tupple
print(list)#print list
print(tuple)#print converted list into tupple

the number is:34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

5. Define a function that can convert a integer into a string and print it in console.
Hints:
Use str() to convert a number to string

In [2]:
n=10
print(str(n))#convert integer into string

10

6. Define a function that can accept two strings as input and concatenate them and
then print it in console.
Hints:
Use + to concatenate the strings

In [4]:
string1="Hello"
string2="World"
result=(string1+" "+string2)
print(result)#print concatenate string using +

Hello World

7. Define a function that can accept two strings as input and print the string with
maximum length in console. If two strings have the same length, then the function
should print al l strings line by line.
Hints:
Use len() function to get the length of a string

In [8]:
str1=input('Enter first string :')
str2=input('Enter second string :')
# The above command will accept the values from the user .
a=len(str1)
b=len(str2)
# variables will contain the length of strings
if a>b:#condition check when str1 greater than str2
   print(str1)#than print str1
elif b>a:#condition check when str2 greater than str1
   print(str2)#than print str2
else:#condition check when both condition wrong than print str1 and str2
   print(str1)
   print(str2)

Enter first string :Hello
Enter second string :Topmentor
Topmentor

8. Define a function which can print a dictionary where the keys are numbers between 1
and 3 (both included) and the values are square of keys.
Hints:
Use dict[key]=value pattern to put entry into a dictionary.
Use ** operator to get power of a number

In [10]:
d =dict()# Create an empty dictionary 'd' to store the squares of numbers.
for key in range(1,4):# Iterate through numbers from 1 to 15 (inclusive).
  d[key]=key**2# Calculate the square of each number and store it in the dictionary 'd' with the number as the key.
print(d)# Print the dictionary 'd' containing the squares of numbers from 1 to 15.

{1: 1, 2: 4, 3: 9}

9. Define a function which can generate a dictionary where the keys are numbers
between 1 and 20 (both included) and the values are square of keys. The function
should just print the values only.
Hints:
Use dict[key]=value pattern to put entry into a dictionary.
Use ** operator to get power of a number.
Use range() for loops.
Use keys() to iterate keys in the dictionary. Also we can use item() to get key/value pairs.

In [21]:
# Create a dictionary with keys as numbers from 1 to 20 and values as their squares
squares_dict = {key: key**2 for key in range(1, 21)}
# Print the values only
print(squares_dict.items())

dict_items([(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361), (20, 400)])

10. Define a function which can generate and print a list where the values are square of
numbers between 1 and 20 (both included).
Hints:
Use ** operator to get power of a number.
Use range() for loops.
Use list.append() to add values into a list

In [17]:
def squares_dict():# Create a dictionary with keys as numbers from 1 to 20 and values as their squares
    squares_list = []
    for key in range(1, 21):
        squares_list.append(key**2)
    print(squares_list)
squares_dict()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]